/*  js_014_bannder_01.css */
#wrap {
  padding-bottom:80px;
}
.part {
  width:700px; height:400px;
  margin:auto; margin-bottom: 50px;
  border:1px solid #777;
  border-radius: 8px; padding:16px; box-sizing: border-box;
}
h3 {
  width:100%; 
  margin-bottom:16px;
  padding-bottom: 8px;
  border-bottom:1px solid #555;
}
.btn {
  width:70%; height:50px;
  margin:auto; box-sizing: border-box;
}
.btn p,
.count {
  float:left;
  width:50px; background-color:#caa;
  padding-top:25px;
  text-align: center;
}

.total_text {float:left;}
.now_text {float:right;}

.slide_btn {
  float:right;
  width:120px; height:50px;
}

.btn button {
  float:right;
  width:50px; height:50px;
  border-radius: 100%;
  background-color: #057;
  color:#fff; font-weight: 700;
  line-height: 1;
}

.btn button:first-of-type {margin-right: 10px;}

.product {
  width: 70%; height:250px;
  margin:auto; margin-top: 20px;
  padding:0; box-sizing: border-box;
  /* background-color: #ddd; */
  border:5px solid #7af;
  overflow: hidden;
}

.product ul {
  width:700%; height:100%;
  background-color: #3364c833;
}

.product li {
  float:left;
  width:calc(100% / 7); height:100%;
  padding:20px; box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.product .slide_01{background-color: rgba(243,2,26,0.7);}
.product .slide_02{background-color: rgba(74,88,47,0.7);}
.product .slide_03{background-color: rgba(115,242,92,0.7);}
.product .slide_04{background-color: rgba(27,235,88,0.7);}
.product .slide_05{background-color: rgb(72, 156, 117,0.7);}
.product .slide_06{background-color: rgba(31,244,186,0.7);}
.product .slide_07{background-color: rgba(120,10,115,0.7);}

