/* viewBox.css */

#viewBox {
  float:right; position:relative;
  width:730px; height:710px;
  background-color: #fff;
}
.pattern {
  width: 100%; height:50px;
  background-color: var(--color-Gray1);
}

.view_area {
  position:absolute; bottom:40px; right:78px;
  width: 600px; height: 520px;
}
.issue_image {
  position: absolute; bottom:0; right:260px; z-index:50;
  width:340px; height:510px;
  background-color:var(--color-Gray4);
  transition:all 300ms linear;
}
.issue_text {
  position: absolute; bottom:0; right:0;
  width:300px; height:485px;
  background-color:var(--color-Gray3);
  transition:all 500ms linear;
}
.view_area:hover > .issue_image {
  right:300px;
}
.view_area:hover > .issue_text {
  right:-40px;
}