/* layout_004-2_headBox */

#headBox {
  float:left;
  width:250px; height:710px;
  padding:75px 45px; box-sizing: border-box;
  background-color: #777;
}
  h1 {
    width: 158px; height: 112px;
  }
  #headBox ul {
    width: 158px; height: 410px;
    margin-top:36px;
  }
  #headBox ul > li {
    width: 136px; height: 40px;
    margin-bottom:24px;
  }
  #headBox ul > li:last-child {
    width: 158px; height: 112px;
    padding:0px 24px; box-sizing: border-box;
  }