/* layout_004-2_sideBox.css */

#sideBox {
  position:absolute;
  top:0;
  width:980px; height: 30px;
  background-color: #aaa;
}
  #lnb > ul > li {
    float:right;
    padding-top:4px; padding-left:10px; box-sizing: border-box;
    height: 30px;
  }
  .education {
    width:244px;
    background-color: #dd3;
  }
  .study {
    width:96px;
    background-color: #777;
  }
  .home {
    width: 96px;
  }